/* quiz.css */
:root {
    /* main body */
    --bg-snow: #FAF8FA;
    /* colors: */
    --brand-primary: #5E239D;
    --brand-secondary: #8A4FFF;
    --brand-tertiary: #de3c4b;
    --border: #FBB94C;
    /* font */
    --font-primary: #5E239D;
    --font-secondary: #FAF8FA;
    --font-tertiary: black;
    /* cards */
    --cards: #FBB94C;
    /* buttons */
    --btn: #faf8fa;
    --btn: #5E239D;
    --btn-font: #5E239D;
    --btn-shadow: #7e7c80;
    /* active buttons */
    --btn-active-bgwhite: #FAF8FA;
    --btn-active-bgorange: #FBB94C;
    --btn-active-font: #5E239D;
    /* hover buttons */
    --btn-hover-bgwhite: #FAF8FA;
    --btn-hover-bgorange: #FBB94C;
    --btn-hover-font: #5E239D;
}

h1 {
    color: var(--font-primary);
}

.container-name {
    color: var(--font-primary) !important;
    justify-content: center;
}

.quiz-container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    color: var(--font-primary) !important;
    background-color: var(--bg-snow);
    box-shadow: 0 2px 4px var(--btn-shadow);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: inline-block;
    color: var(--font-primary);
    font-weight: bolder;
    letter-spacing: 1px;
    width: fit-content;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option-placeholder {
    color: var(--btn-shadow);
    font-style: italic;
}

select {
    padding: 5px;
    margin-bottom: 10px;
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-container {
    margin-top: 20px;
    color: var(--font-primary);
    font-weight: bolder;
    letter-spacing: 1px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button.submit-button,
button.try-again-button,
.next-button,
.prev-button {
    padding: 7px 7px;
    text-align: center;
    cursor: pointer;
    outline: none !important;
    color: var(--font-secondary) !important;
    background-color: var(--brand-primary) !important;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px var(--btn-shadow);
    letter-spacing: 2px;
    transform: translateY(4px);
}

button.submit-button:active,
button.try-again-button:active,
button.submit-button:hover,
button.try-again-button:hover,
.next-button:hover,
.prev-button:hover,
.next-button:active,
.prev-button:active {
    color: var(--btn-font) !important;
    font-weight: bolder !important;
    background-color: var(--btn-active-bgorange) !important;
    box-shadow: 0 5px var(--btn-shadow);
    transform: translateY(4px);
}

.dog-select-prompt {
    letter-spacing: 1px;
}