:root {
  /* main body */
  --bg-snow: #FAF8FA;
  --dark-bg-lav: #b883ec;
  /* colors: */
  --brand-primary: #5E239D;
  --dark-primary-purple: #20003d;
  --brand-secondary: #8A4FFF;
  --dark-secondary-purple: #3c096c;
  --brand-tertiary: #de3c4b;
  --dark-orange: #291200;
  --border: #FBB94C;
  --dark-border: #8f5800;
  /* font */
  --font-primary: #5E239D;
  --dark-font-primary: #20003d;
  --font-secondary: #FAF8FA;
  --dark-font-secondary: #b883ec;
  --font-tertiary: black;
  /* cards */
  --cards: #FBB94C;
  --dark-cards: #8f5800;
  /* buttons */
  --btn: #faf8fa;
  --dark-btn-lav: #b883ec;
  --btn: #5E239D;
  --dark-button: #20003d;
  --btn-font: #5E239D;
  --dark-font-button: #20003d;
  --btn-shadow: #7e7c80;
  --dark-btn-shadow: #2b2b2c;
  /* active buttons */
  --btn-active-bgwhite: #FAF8FA;
  --dark-btn-active-bglav: #b883ec;
  --btn-active-bgorange: #FBB94C;
  --dark-btn-active: #8f5800;
  --btn-active-font: #5E239D;
  --btn-active-font: #20003d;
  /* hover buttons */
  --btn-hover-bgwhite: #FAF8FA;
  --dark-btn-hover-bglav: #b883ec;
  --btn-hover-bgorange: #FBB94C;
  --dark-btn-hover-bgorange: #8f5800;
  --btn-hover-font: #5E239D;
  --dark-btn-hover-font: #20003d;
  /* additional dark purple */
  --dark-purple: #3C096C;
}

* {
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  background-image: url("../images/fur.avif");
  background-size: cover;
}

body[data-theme="dark"] {
  backdrop-filter: invert(1);
}

.name-dark {
  color: var(--dark-font-secondary) !important;
  text-decoration: none;
  font-size: min(7vw, 3rem) !important;
}

.name-light {
  color: var(--bg-snow) !important;
  text-decoration: none;
  font-size: min(7vw, 3rem) !important;
}

.vContainer-dark {
  background-color: var(--dark-secondary-purple) !important;
  color: var(--dark-font-secondary) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

.vContainer-light {
  background-color: var(--cards) !important;
  color: var(--brand-primary) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

.homeText-dark {
  color: var(--dark-font-secondary) !important;
  text-decoration: none;
  font-size: 40px !important;
}

.homeText-light {
  color: var(--font-primary) !important;
  text-decoration: none;
  font-size: 40px !important;
}

.homeTitle-dark {
  color: var(--dark-font-secondary) !important;
  text-decoration: none;
  font-size: 40px !important;
}

.homeTitle-light {
  color: var(--font-primary) !important;
  text-decoration: none;
  font-size: 40px !important;
}

/* h1-light {
  color: var(--bg-snow) !important;
  text-decoration: none;
  font-size: 40px !important;
} */

.homeBox-dark {
  background-color: var(--dark-purple);
}

.homeBox-light {
  background-color: var(--border);
  border-radius: 5px;
  padding: 6px;
}

p-dark {
  color: var(--dark-purple) !important;
}

p-light {
  color: var(--brand-primary) !important;
}

.link {
  color: var(--dark-font-secondary) !important;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 2px;
}

.link:hover {
  color: var(--dark-btn-hover-bgorange) !important;
  border: none;
  border-radius: 15px;
  padding: 7px;
}

.link:active {
  color: var(--dark-btn-active) !important;
  padding: 7px;
  border: none;
  border-radius: 15px;
}

.manyDogs {
  width: 100%;
}

/* .manyDogs-dark {
  width: 100%;
  opacity: 60%;
}

.manyDogs-light {
  width: 100%;
} */

/* .app {
  background-image: url("../images/fur.avif");
  background-size: cover;
}

.app.dark {} */

h3 {
  color: var(--brand-primary)
}

.hamburger {
  background-color: var(--btn-shadow)
}

.made {
  color: var(--font-primary)
}

span,
.copyright {
  color: var(--font-primary);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 7px;
}

li {
  padding: 5px;
}

.login-card-light {
  background: var(--bg-snow) !important;
}

.login-card-dark {
  background: var(--btn-shadow) !important;
}

.login-card-header {
  background: var(--brand-primary) !important;
}

.error {
  color: var(--brand-tertiary);
}

.logo {
  width: 100px;
  font-size: 30;
}

.top-light {
  background-color: var(--brand-primary) !important;
}

.top-dark {
  background-color: rgb(24, 12, 43) !important;
}

.btn {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: var(--brand-primary) !important;
  background-color: var(--button) !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--btn-shadow);
  transform: translateY(4px);
}

.btn:hover {
  background-color: var(--btn-hover) !important;
  transform: translateY(4px);
}

.btn:active {
  background-color: var(--btn-active) !important;
  box-shadow: 0 5px var(--btn-shadow);
  transform: translateY(4px);
}

.sbtn,
.btn-shelter {
  padding: 7px 7px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: var(--font-secondary) !important;
  background-color: var(--brand-primary) !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--btn-shadow);
  letter-spacing: 2px;
  transform: translateY(4px);
}

.sbtn:hover,
.btn-shelter:hover {
  color: var(--btn-font) !important;
  background-color: var(--btn-hover-bgorange) !important;
  transform: translateY(4px);
}

.sbtn:active,
.btn-shelter:active {
  color: var(--btn-font) !important;
  background-color: var(--btn-active-bgorange) !important;
  box-shadow: 0 5px var(--btn-shadow);
  transform: translateY(4px);
}

.logout {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: var(--border) !important;
  color: var(--border) !important;
  background-color: var(--brand-primary) !important;
  border-radius: 15px;
  box-shadow: 0 9px var(--btn-shadow);
  transform: translateY(4px);
}

.logout:hover {
  background-color: var(--btn-hover) !important;
  transform: translateY(4px);
}

.logout:active {
  background-color: var(--btn-active) !important;
  box-shadow: 0 5px var(--btn-shadow);
  transform: translateY(4px);
}

.videos {
  text-decoration: none !important;
  color: var(--font-primary) !important;
  font-family: JetBrains Mono;
  font-weight: bold;
}

.videos:hover {
  text-decoration: none !important;
  background-color: var(--btn-active-bgwhite) !important;
  color: var(--btn-hover-font) !important;
  border-radius: 15px;
}

.link {
  color: var(--font-secondary) !important;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 2px;
}

.link:hover {
  color: var(--btn-active-bgorange) !important;
  border: none;
  border-radius: 15px;
  padding: 7px;
}

.link:active {
  color: var(--btn-active-bgorange) !important;
  padding: 7px;
  border: none;
  border-radius: 15px;
}

.profileTab {
  color: var(--font-secondary) !important;
}

.profileTab:active,
.profileTab:hover {
  color: var(--btn-active-bgorange) !important;
}

.ddText {
  color: var(--font-primary) !important;
  text-decoration: none;
  letter-spacing: 1px;
}

.ddText:hover {
  color: var(--brand-tertiary) !important;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  padding: 18px !important;
  margin: 7px !important;
}

.ddText:active {
  color: var(--brand-tertiary) !important;
  text-decoration: none;
  border: none;
  border-radius: 15px;
}

.searchBox {
  letter-spacing: 2px;
  border-radius: 7px;
}

.searchBtn {
  color: var(--font-secondary);
  background-color: var(--btn-bg);
  letter-spacing: 1px;
  border-radius: 7px;
  box-shadow: 0 9px var(--btn-shadow);
}

.searchBtn:active {
  color: var(--btn-hover-bgorange);
}

.searchBtn:hover {
  color: var(--btn-active-bgorange);
}

.fab,
.fas {
  justify-content: space-between !important;
  color: var(--font-primary);
  margin: 10px;
  font-size: 30px;
}

.vTitles {
  background-color: var(--brand-primary) !important;
  color: var(--font-secondary) !important;
  border-radius: 5px;
}

.vText {
  background-color: var(--brand-primary) !important;
  color: var(--font-secondary) !important;
}

.donate-title {
  display: flex;
  color: var(--brand-primary);
  justify-content: center;
}

.stripe-donate {
  display: flex;
  text-decoration: none;
  color: var(--brand-primary);
  justify-content: center;
}

.stripe-donate:hover,
.stripe-donate:active {
  display: flex;
  text-decoration: none;
  color: var(--btn-active-bgorange);
  justify-content: center;
}

.shelter-header {
  display: flex;
  font-weight: bold;
  justify-content: center;
  color: var(--font-secondary) !important;
  background-color: var(--brand-primary) !important;
}

.search-filter {
  color: var(--font-primary);
  font-weight: bold;
}

.error-message {
  letter-spacing: 2px;
  background-color: red !important;
  color: var(--font-secondary) !important;
}