:root {
  /* main body */
  --bg-snow: #FAF8FA;
  /* colors: */
  --brand-primary: #5E239D;
  --brand-secondary: #8A4FFF;
  --brand-tertiary: #de3c4b;
  --border: #FBB94C;
  /* font */
  --font-primary: #5E239D;
  --font-secondary: #FAF8FA;
  --font-tertiary: black;
  /* cards */
  --cards: #FBB94C;
  /* buttons */
  --btn: #faf8fa;
  --btn: #5E239D;
  --btn-font: #5E239D;
  --btn-shadow: #7e7c80;
  /* active buttons */
  --btn-active-bgwhite: #FAF8FA;
  --btn-active-bgorange: #FBB94C;
  --btn-active-font: #5E239D;
  /* hover buttons */
  --btn-hover-bgwhite: #FAF8FA;
  --btn-hover-bgorange: #FBB94C;
  --btn-hover-font: #5E239D;
}

* {
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Inter', sans-serif;
}

.hamburger {
  background-color: var(--btn-shadow)
}

/* h1,
.name-light {
  color: var(--btn-shadow) !important;
  text-decoration: none;
  font-size: 40px !important;
}

h1,
.name-dark {
  color: var(--btn-shadow) !important;
  text-decoration: none;
  font-size: 40px !important;
} */

h1,
.name {
  color: var(--bg-snow) !important;
  text-decoration: none;
  font-size: 40px !important;
}

.made {
  color: var(--font-primary)
}

span-light,
.copyright {
  color: var(--font-primary);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 7px;
}

/* span-dark,
.copyright {
  color: var(--font-shadow);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-bottom: 7px;
} */

li {
  padding: 5px;
}

p-light {
  color: var(--brand-primary) !important;
}

p-dark {
  color: var(--brand-secondary) !important;
}

.logo {
  width: 100px;
  font-size: 30;
}

.top-light {
  background-color: var(--brand-primary) !important;
}

.top-dark {
  background-color: rgb(24, 12, 43) !important;
}

.btn {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: var(--brand-primary) !important;
  background-color: var(--button) !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--btn-shadow);
}

.btn:hover {
  background-color: var(--btn-hover) !important
}

.btn:active {
  background-color: var(--btn-active) !important;
  box-shadow: 0 5px var(--btn-shadow);
  transform: translateY(4px);
}

.sbtn {
  padding: 7px 7px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: var(--font-secondary) !important;
  background-color: var(--brand-primary) !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--btn-shadow);
}

/* .sbtn-dark {
  padding: 7px 7px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  color: var(--font-primary) !important;
  background-color: var(--btn-shadow) !important;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px var(--btn-shadow);
} */


.manyDogs {
  width: 100%;
}

.videos {
  text-decoration: none !important;
  color: var(--font-primary) !important;
  font-family: JetBrains Mono;
  font-weight: bold;
}

.videos:hover {
  text-decoration: none !important;
  background-color: var(--btn-active-bgwhite) !important;
  color: var(--btn-hover-font) !important;
  border-radius: 15px;
}

.vContainer {
  background-color: var(--cards) !important;
  color: var(--brand-primary) !important;
  font-family: 'JetBrains Mono', monospace !important;
}

.link {
  color: var(--font-secondary) !important;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
}

.link:hover {
  color: var(--btn-active-bgorange) !important;
  border: none;
  border-radius: 15px;
  padding: 7px;
}

.link:active {
  color: var(--btn-active-bgorange) !important;
  padding: 7px;
  border: none;
  border-radius: 15px;
}

.profileTab {
  color: var(--font-secondary) !important;
}

.profileTab:active,
.profileTab:hover {
  color: var(--btn-active-bgorange) !important;
}

.ddText {
  color: var(--font-primary) !important;
  text-decoration: none;
  letter-spacing: 1px;
}

.ddText:hover {
  color: var(--brand-tertiary) !important;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  padding: 18px !important;
  margin: 7px !important;
}

.ddText:active {
  color: var(--brand-tertiary) !important;
  text-decoration: none;
  border: none;
  border-radius: 15px;
}

.searchBox {
  letter-spacing: 2px;
  border-radius: 7px;
}

.searchBtn {
  color: var(--font-secondary);
  background-color: var(--btn-bg);
  letter-spacing: 1px;
  border-radius: 7px;
  box-shadow: 0 9px var(--btn-shadow);
}

.searchBtn:active {
  color: var(--btn-hover-bgorange);
}

.searchBtn:hover {
  color: var(--btn-active-bgorange);
}

.fab,
.fas {
  justify-content: space-between !important;
  color: var(--font-primary);
  margin: 10px;
  font-size: 30px;
}

.homeBox {
  background-color: var(--border);
  border-radius: 5px;
  padding: 6px;
}

.vTitles {
  background-color: var(--brand-primary) !important;
  color: var(--font-secondary) !important;
  border-radius: 5px;
  /* padding: 6px; */
}

.vText {
  background-color: var(--brand-primary) !important;
  color: var(--font-secondary) !important;
  /* border-radius: 5px; */
}